header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 1rem;
	padding-right: 1rem;
}
nav {
	display: flex;
	gap: 2rem;
}
.primary {
	background-color: rgb(1, 66, 9);
	color: white;
	padding: 0.5rem;
	min-width: 60px;
	margin-top: 1rem;
	border-radius: 4px;
	margin-bottom: 2rem;
}
.danger {
	color: red;
	background-color: white;
	border: none;
}
ul {
	display: flex;
	gap: 1rem;
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.list {
	width: 600px;
	max-width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
hr {
	width: 100%;
}
.nav__link {
	text-decoration: none;
	color: black;
	font-size: 1.5rem;
}
input {
	padding: 1rem;
	width: 600px;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.button:hover {
	cursor: pointer;
}
